name: Build-Test CI
on: [push]
jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '20'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.1'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build appbundle
  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.1'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build web
